# Can ignore specific files
.DS_Store
.SYNC
semanticdb
.emacs.desktop
.emacs.desktop.lock
history
ac-comphist.dat
session*
gmon.out
flycheck_*
bookmarks
.bookmarks
anything-c-adaptive-history
.emacs.desktop
.mc-lists.el
tramp
var/*
.cask/
.edbi-ds-history
.projectile
projectile-bookmarks.eld
.projectile-bookmarks.eld
.projectile.cache
.smex.save
ede-projects.el*
elpa/*
url/*
auto-save-list/*
tramp-autosave/*
srecode-map.el*
.org-id-locations
.travis.yml
wget*-log*
ergoemacs-themes.elc
ergoemacs-theme-engine.elc
.emacs.elc
