# -*- mode: gitignore; -*-
# Created by https://www.gitignore.io/api/emacs

### Emacs ###
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# End of https://www.gitignore.io/api/emacs

# Extras
smex-items
.DS_Store
*.DS_Store
**/*.DS_Store
.SYNC
semanticdb
.emacs.desktop
.emacs.desktop.lock
history
ac-comphist.dat
session*
gmon.out
flycheck_*
bookmarks
.bookmarks
anything-c-adaptive-history
.emacs.desktop
.mc-lists.el
tramp
var/*
.cask/
.edbi-ds-history
.persistent-scratch
.projectile
projectile-bookmarks.eld
.projectile-bookmarks.eld
projectile.cache
.projectile.cache
.smex.save
ede-projects.el*
elpa/*
url/*
auto-save-list/
tramp-autosave/*
srecode-map.el*
.org-id-locations
.travis.yml
wget*-log*
ergoemacs-themes.elc
ergoemacs-theme-engine.elc
.emacs.elc
.sx
Cask
%backup%~
.nfs*
*.gz
TAGS
cmake_build_dir/*
*.rel
.Rhistory
