[project]
	description = Emacs configuration files from Abelardo Jara-Berrocal
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Abelardo Jara-Berrocal (abelardojarab)
[access "refs/for/refs/*"]
	read = group user/Abelardo Jara-Berrocal (abelardojarab)
	push = group user/Abelardo Jara-Berrocal (abelardojarab)
	label-Code-Review = -2..+2 group user/Abelardo Jara-Berrocal (abelardojarab)
	label-Verified = -1..+1 group user/Abelardo Jara-Berrocal (abelardojarab)
	rebase = group user/Abelardo Jara-Berrocal (abelardojarab)
	removeReviewer = group user/Abelardo Jara-Berrocal (abelardojarab)
	submit = group user/Abelardo Jara-Berrocal (abelardojarab)
[access "refs/heads/*"]
	read = group user/Abelardo Jara-Berrocal (abelardojarab)
	create = group user/Abelardo Jara-Berrocal (abelardojarab)
	push = +force group user/Abelardo Jara-Berrocal (abelardojarab)
	pushMerge = group user/Abelardo Jara-Berrocal (abelardojarab)
[access "refs/tags/*"]
	push = group user/Abelardo Jara-Berrocal (abelardojarab)
	push = +force group user/Abelardo Jara-Berrocal (abelardojarab)
