!* Use the command "xrdb < $HOME/.Xdefaults" to reread in changes to .Xdefaults
!*
Emacs.pane.menubar.margin: 0
Emacs*useXIM: false
Emacs.fontBackend: xft
Emacs.bitmapIcon: on
Emacs.font:              Consolas-13
Emacs.FACE.italicFont:   Consolas-13
Emacs.FACE.boldFont:	 Consolas-13
Emacs*menubar*font:      Consolas-13
Emacs.menu*.font:        Consolas-13
Emacs.pane.menubar.font: Consolas-13
Emacs.dialog*.font:      Consolas-13
Emacs.menuBar: on
Emacs.toolBar: off
Emacs.borderWidth: 0
Emacs.internalBorder: 0
Emacs.backgroundType: dark

Xft.dpi: 96
Xft.antialias: true
Xft.autohint: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

! Bigger font
xterm*utf8:       2
xterm*termName:   xterm-256color
xterm*faceName:   xft:Roboto Mono:pixelsize=16
! xterm*faceSize: 12

! Fix up xterm keybindings 
xterm*VT100.translations:	#override \
      <Key>BackSpace:    string(0x7F) \n\
      <Key>Insert:       string(0x1b) string("[2~")\n\
      <Key>Delete:       string(0x1b) string("[3~")\n\
      <Key>Home:         string(0x1b) string("[1~")\n\
      <Key>End:	     string(0x1b) string("[4~")\n\
      <Key>Page_Up:      string(0x1b) string("[5~")\n\
      <Key>Page_Down:    string(0x1b) string("[6~")\n\
      <KeyPress>Prior : scroll-back(1,page)\n\
      <KeyPress>Next : scroll-forw(1,page)

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
xterm*loginshell: true

! Scrolling
xterm*savelines: 16384
xterm*Scrollbar*thickness: 2
xterm*background:                       grey15
xterm*foreground:                       grey75
xterm*cursorColor:                      darkorange1

! double-click to select whole URLs :D
xterm*charClass: 3:48,33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48,35:48,58:48,63:48,61:48,44:48,38:48,59:48

! extra choice
xterm*eightBitInput: false

!BLK Cursor
#define _color0        #000d18
#define _color8        #000d18
!RED Tag
#define _color1        #e89393
#define _color9        #e89393
!GRN SpecialKey
#define _color2        #9ece9e
#define _color10       #9ece9e
!YEL Keyword
#define _color3        #f0dfaf
#define _color11       #f0dfaf
!BLU Number
#define _color4        #8cd0d3
#define _color12       #8cd0d3
!MAG Precondit
#define _color5        #c0bed1
#define _color13       #c0bed1
!CYN Float
#define _color6        #dfaf8f
#define _color14       #dfaf8f
!WHT Search
#define _color7        #efefef
#define _color15       #efefef
!FMT Include, StatusLine, ErrorMsg
#define _colorBD       #ffcfaf
#define _colorUL       #ccdc90
#define _colorIT       #80d4aa
!TXT Normal, Normal, Cursor
#define _foreground    #dcdccc
#define _background    #1f1f1f
#define _cursorColor   #8faf9f
URxvt*color0         : _color0
URxvt*color1         : _color1
URxvt*color2         : _color2
URxvt*color3         : _color3
URxvt*color4         : _color4
URxvt*color5         : _color5
URxvt*color6         : _color6
URxvt*color7         : _color7
URxvt*color8         : _color8
URxvt*color9         : _color9
URxvt*color10        : _color10
URxvt*color11        : _color11
URxvt*color12        : _color12
URxvt*color13        : _color13
URxvt*color14        : _color14
URxvt*color15        : _color15
URxvt*colorBD        : _colorBD
URxvt*colorIT        : _colorIT
URxvt*colorUL        : _colorUL
URxvt*foreground     : _foreground
URxvt*background     : _background
URxvt*cursorColor    : _cursorColor
XTerm*color0         : _color0
XTerm*color1         : _color1
XTerm*color2         : _color2
XTerm*color3         : _color3
XTerm*color4         : _color4
XTerm*color5         : _color5
XTerm*color6         : _color6
XTerm*color7         : _color7
XTerm*color8         : _color8
XTerm*color9         : _color9
XTerm*color10        : _color10
XTerm*color11        : _color11
XTerm*color12        : _color12
XTerm*color13        : _color13
XTerm*color14        : _color14
XTerm*color15        : _color15
XTerm*colorBD        : _colorBD
XTerm*colorIT        : _colorIT
XTerm*colorUL        : _colorUL
XTerm*foreground     : _foreground
XTerm*background     : _background
XTerm*cursorColor    : _cursorColor

! right hand side scrollbar...
xterm*rightScrollBar: true
xterm*ScrollBar: true

! stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: false

! URxvt
URxvt*keysym.Home: \033[1~
URxvt*keysym.End: \033[4~

! *** Xdefaults Affecting CADENCE TOOLS ***
!* NOTE:
!*
! ********************************************************
! * These resources set the default position of the CIW. *
! ********************************************************
Opus.geometry:          =1000x1000+0+0

! **********************************************
! * These resources allow you to set the fonts *
! **********************************************
Opus.labelFont:   -adobe-courier-medium-r-normal--14-140-75-75-m-90-iso8859-2
Opus.textFont:    -adobe-courier-medium-r-normal--14-140-75-75-m-90-iso8859-2
Opus.helpFont:    -adobe-courier-medium-r-normal--14-140-75-75-m-90-iso8859-2

! ****************************************************
! * This resource lets you specify which text editor *
! * you want to use.                                 *
! ****************************************************
Opus.textEditor:  emacs

! **************************************
! * This resource lets you set the     *
! * colors used by the user interface. *
! **************************************
Opus.foreground:               #101010
Opus.background:               #000000
Opus.borderColor:              #0000c0
Opus.recessColor:              #bfbfbf
Opus.activeBannerColor:        #bdcccc
Opus.inactiveBannerColor:      #cccccc
Opus.textColor:                #bbbbbb
Opus.attentionTextColor:       #dddddd
Opus.flashColor:               #c0c0c0
Opus.topShadowColor:           #ffffff
Opus.bottomShadowColor:        #999999
Opus.buttonColor:              #800000
Opus.editorBackground:         #000000
Opus.showFixedMenuLabels: True

cdsLibManager*textFontList: -misc-fixed-medium-r-normal--0-0-100-100-c-0-iso8859-14
cdsLibManager*buttonFontList: -misc-fixed-medium-r-normal--0-0-100-100-c-0-iso8859-14
cdsLibManager*labelFontList: -misc-fixed-medium-r-normal--0-0-100-100-c-0-iso8859-14
cdsLibManager*XbaeMatrix*fontList: -misc-fixed-medium-r-normal--0-0-100-100-c-0-iso8859-14
cdsLibManager*Tree.XmHierButton.fontList: -misc-fixed-medium-r-normal--0-0-100-100-c-0-iso8859-14
cdsLibManager*copyErrorDestLib.fontList: -misc-fixed-medium-r-normal--0-0-100-100-c-0-iso8859-14
cdsLibManager*copyErrorMessage.fontList: -misc-fixed-medium-r-normal--0-0-100-100-c-0-iso8859-14
cdsLibManager*cdsComboBox.edit.fontList: -misc-fixed-medium-r-normal--0-0-100-100-c-0-iso8859-14
cdsLibManager*XmMenuShell.buttonFontList: -misc-fixed-medium-r-normal--0-0-100-100-c-0-iso8859-14
cdsLibManager*menuBar.XmCascadeButtonGadget.fontList: -misc-fixed-medium-r-normal--0-0-100-100-c-0-iso8859-14

! ****************************************************
! * These resources allow you to specify the default *
! * positions for forms.                             *
! ****************************************************
Opus.formPlacement: top
Opus.formRelativeTo: currentWindow
Opus.optionFormPlacement: center
Opus.optionFormRelativeTo: screen
!
! added 1/2/93 to try to fix the problem with a black opus window
OpenWindows.ColorFocusLocked: True
Twm*colormapFocusPolicy: explicit

! **************
! ** END OPUS RESOURCES
! **************
! Mwm options that Cadence recommends
Mwm*clientAutoPlace: False
Mwm*colormapFocusPolicy: explicit
Mwm*keyboardFocusPolicy: pointer
Mwm*interactivePlacement: False
Mwm*positionIsFrame: False
! **************
! FrameMaker options recommended by Cadence
! **************
Maker*background: #c0c0c0
Maker*bottomShadowColor:#999999
Maker*topShadowColor: #ffffff
Maker*foreground: #800000
Maker*fontList: -misc-fixed-medium-r-normal--0-0-100-100-c-0-iso8859-14
Maker.colorDocs: True
Maker.useBackingStore: True
Maker.colorImages: True
! ********************
! * END of XDEFAULTS *
! ********************
