/* CSS here */

body {
    padding: 0;
    margin: 0;
}

svg:not(:root) {
    display:block;
}


/* Canvas docs, playable samples */
.playable-code {
  background-color: #F4F7F8;
  border: none;
  border-left: 6px solid  #558ABB;
  border-width: medium medium medium 6px;
  color: #4D4E53;
  height: 100px;
  width: 90%;
  padding: 10px 10px 0px;
}

.playable-canvas {
  border: 1px solid #4D4E53;
  border-radius: 2px;
}

.playable-buttons {
  text-align: right;
  width: 90%;
  padding: 5px 10px 5px 26px;
}
footer {display:none !important} #main-header {display:none !important} #toc.fixed { position: static !important; overflow-y: visible !important; } .contributors {display:none !important} .wiki-left-present:not(.wiki-left-closed) #wiki-left {display:none !important} body {background-image:none !important; background-color:transparent !important} .wiki-left-present:not(.wiki-left-closed) #toc.fixed {width: 100% !important; max-height:none !important} #wiki-content {width:100% !important} #wiki-content {float:left !important} .communitybox, #wiki-controls {display:none !important} .syntaxbox-help{display:none !important} .article-meta { display:none !important} #wiki-right {padding-bottom: 25px !important; width:100% !important} .column-strip.quick-links {margin-bottom:0px !important} .redesign-beta-notice {display:none !important} #tabzilla-panel {display:none !important} main>.center {padding-top:10px !important} .breadcrumbs {display:none !important} .global-notice, .page-buttons {display:none !important} .crumbs {display:none !important} .languages {display:none !important} #toc {max-height:none !important} .offline-notice {display:none} #redirected-from {display:none} #masthead {display:none}
#nav-toolbar {display:none}
#page-buttons{display:none} .contributor-avatars {display:none !important} #sessionMsg.errormsg{display:none}
.page-watch {display:none}
