@font-face {
    font-family: 'icons';
    src: url('../fonts/iconsd41d.eot?#iefix2013') format('embedded-opentype'),
         url('../fonts/icons8038.woff?2013') format('woff'),
         url('../fonts/icons8038.ttf?2013') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.in-progress .search-filter {
    background: transparent url('../images/spinner-large.gif') 0 0 / contain no-repeat;
}
.search-filter {
    display: inline-block;
    position: absolute;
    top: 15%;
    right: 10px;
    padding-left: 2rem;
    width: auto;
}
.sf-select-options {
    display: none;
    position: absolute;
    top: 99%;
    right: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.sf-select-trigger {
    background-color: white;
    border-radius: .4rem;
    padding: .1rem;
    border: 1px solid white;
    width: auto;
    min-width: 70px;
    cursor: pointer;
}
.sf-select-trigger:hover {
    background-color: #e8e8e8;
}
.sf-selector-arrow {
    display: inline-block;
    position: relative;
    padding-right: 1rem;
}
[data-filter-arrow]:before {
    display: block;
    position: absolute;
    top: 1px;
    right: 0;
    font-family: icons;
    content: attr(data-filter-arrow);
    speak: none;
}
.sf-modal {
    border: 1px solid #d4d4d4;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
}
.sf-select-options .selector-option-label {
    display: inline-block;
    vertical-align: top;
    width: 10rem;
}
.sf-select-options .selector-option-description {
    display: inline-block;
    margin-right: 12rem;  /* Width of label plus padding */
    vertical-align: top;
    white-space: normal;
}
.sf-select-options li:first-child a {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
@media only screen and (max-width: 740px) {
    .sf-select-options .selector-option-label {
        display: block;
    }
}
@media only screen and (max-height: 1200px) {
    .sf-select-options {
        max-height: 1024px;
    }
}
@media only screen and (max-height: 960px) {
    .sf-select-options {
        max-height: 700px;
    }
}
@media only screen and (max-height: 720px) {
    .sf-select-options {
        max-height: 500px;
    }
}
@media only screen and (max-height: 480px) {
    .sf-select-options {
        max-height: 320px;
    }
}

footer {display:none !important} #main-header {display:none !important} #toc.fixed { position: static !important; overflow-y: visible !important; } .contributors {display:none !important} .wiki-left-present:not(.wiki-left-closed) #wiki-left {display:none !important} body {background-image:none !important; background-color:transparent !important} .wiki-left-present:not(.wiki-left-closed) #toc.fixed {width: 100% !important; max-height:none !important} #wiki-content {width:100% !important} #wiki-content {float:left !important} .communitybox, #wiki-controls {display:none !important} .syntaxbox-help{display:none !important} .article-meta { display:none !important} #wiki-right {padding-bottom: 25px !important; width:100% !important} .column-strip.quick-links {margin-bottom:0px !important} .redesign-beta-notice {display:none !important} #tabzilla-panel {display:none !important} main>.center {padding-top:10px !important} .breadcrumbs {display:none !important} .global-notice, .page-buttons {display:none !important} .crumbs {display:none !important} .languages {display:none !important} #toc {max-height:none !important} .offline-notice {display:none} #redirected-from {display:none} #masthead {display:none}
#nav-toolbar {display:none}
#page-buttons{display:none} .contributor-avatars {display:none !important} #sessionMsg.errormsg{display:none}
.page-watch {display:none}
