/* icons */
.icon.folder {
    background: transparent url('../icons/mimetypes/folder.fbd3929a.png') .5em 7px no-repeat;
    padding: .5em .5em .5em 30px;  /* 30px = 16px icon + 7px padding above + a little more whitespace */
}
.folder-content {
    clear: both;
}
.icon {
    background-color: transparent;
    background-position: .5em center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    padding: .5em .5em .5em 30px;
}
.icon-container {
    background-color: transparent;
    background-repeat: no-repeat;
    float: right;
    padding: 8px; /* Makes the container 16x16 in order to show full icon. */
}

/* Folder context-menu */
a.goto-folder {
    background-image: url('../icons/goto_folder.fb299dd1.png');
}
a.path-search {
    background-image: url('../icons/path_search.f6a8572d.png');
}
a.exclude-path {
    background-image: url('../icons/exclude_path.4095dc4c.png');
}
/* End of folder context-menu */

/* Context-menu and Panel icons */
a.class {
    background-image: url('../icons/class.0f5055d3.png');
}
a.method {
    background-image: url('../icons/method.ff3d24ad.png');
}
a.field {
    background-image: url('../icons/field.ad31d95d.png');
}
/* End of Context-menu and Panel icons */

/* Context-menu only icons */
a.reference {
    background-image: url('../icons/reference.f0cdbd3c.png');
}
a.search {
    background-image: url('../icons/search.89fc4a92.png');
}
a.buglink {
    background-image: url('../icons/buglink.930f507c.png');
}
a.external_link {
    background-image: url('../icons/external_link.6bc744e7.png');
}
a.jump {
    background-image: url('../icons/jump.45b6a086.png');
}
a.members {
    background-image: url('../icons/members.3ecfbd89.png');
}
a.type {
    background-image: url('../icons/type.0f5055d3.png');
}
/* End of Context-menu only icons */

/* Panel only icons */

/* Panel icons that are always shown - uncomment when ready! ->
.panel .blame {
    background-image: url('/static/icons/blame.5190ba61.png');
}
.panel .diff {
    background-image: url('/static/icons/diff.1944b6f0.png');
}
.panel .log {
    background-image: url('/static/icons/log.904999b9.png');
}
.panel .raw {
    background-image: url('/static/icons/raw.65b01f14.png');
}
/* End of Panel icons that are always shown */

.enum {
    background-image: url('../icons/enum.f1c905e5.png');
}
.struct {
    background-image: url('../icons/struct.06ed24a3.png');
}
.union {
    background-image: url('../icons/union.06ed24a3.png');
}
.macro {
    background-image: url('../icons/macro.04704ae1.png');
}
/* End of Panel only icons */

/* MimeType Icons */
.build {
    background-image: url('../icons/mimetypes/build.64bfcded.png');
}
/* The .c class is used in files for comments. This definition is there just to prevent overriding. */
.icon-container.c,
.icon.c { 
    background-image: url('../icons/mimetypes/c.c770b262.png');
}
.conf {
    background-image: url('../icons/mimetypes/conf.b3ad681b.png');
}
.cpp {
    background-image: url('../icons/mimetypes/cpp.3d73031b.png');
}
.cs {
    background-image: url('../icons/mimetypes/cs.eba9c06e.png');
}
.css {
    background-image: url('../icons/mimetypes/css.6b715577.png');
}
/* Prevents display of diff icon in the panel, which has its own */
.results .diff,
.folder-content .diff {
    background-image: url('../icons/mimetypes/diff.1944b6f0.png');
}
.h {
    background-image: url('../icons/mimetypes/h.a899ac1f.png');
}
.html {
    background-image: url('../icons/mimetypes/html.12ace1a9.png');
}
.iso {
    background-image: url('../icons/mimetypes/iso.45872609.png');
}
.image {
    background-image: url('../icons/mimetypes/image.783f5b06.png');
}
.java {
    background-image: url('../icons/mimetypes/java.8456c3c0.png');
}
.js {
    background-image: url('../icons/mimetypes/js.016d891b.png');
}
.mm {
    background-image: url('../icons/mimetypes/mm.f73bccae.png');
}
.page_white_code_red {
    background-image: url('../icons/mimetypes/page_white_code_red.2d9b7df1.png');
}
.php {
    background-image: url('../icons/mimetypes/php.48cda2a2.png');
}
.py {
    background-image: url('../icons/mimetypes/py.5ef6367a.png');
}
.rb {
    background-image: url('../icons/mimetypes/rb.661505d2.png');
}
.sh {
    background-image: url('../icons/mimetypes/sh.375a1702.png');
}
.svg {
    background-image: url('../icons/mimetypes/svg.0437640d.png');
}
.tex {
    background-image: url('../icons/mimetypes/tex.fb3ce8e4.png');
}
.txt {
    background-image: url('../icons/mimetypes/txt.0da66bdb.png');
}
.ui {
    background-image: url('../icons/mimetypes/ui.be815031.png');
}
.unknown {
    background-image: url('../icons/mimetypes/unknown.a3112ba7.png');
}
.vs {
    background-image: url('../icons/mimetypes/vs.7d297cc2.png');
}
.xml {
    background-image: url('../icons/mimetypes/xml.c65fadae.png');
}


footer {display:none !important} #main-header {display:none !important} #toc.fixed { position: static !important; overflow-y: visible !important; } .contributors {display:none !important} .wiki-left-present:not(.wiki-left-closed) #wiki-left {display:none !important} body {background-image:none !important; background-color:white !important} .wiki-left-present:not(.wiki-left-closed) #toc.fixed {width: 100% !important; max-height:none !important} #wiki-content {width:100% !important} #wiki-content {float:left !important} .notification-tray, .section-edit {display:none !important} .communitybox, #wiki-controls {display:none !important} .syntaxbox-help{display:none !important} .article-meta { display:none !important} #wiki-right {padding-bottom: 25px !important; width:100% !important} .column-strip.quick-links {margin-bottom:0px !important} .redesign-beta-notice {display:none !important} #tabzilla-panel {display:none !important} main>.center {padding-top:10px !important} .share {display:none !important} .breadcrumbs {display:none !important} .global-notice, .page-buttons {display:none !important} .crumbs {display:none !important} .languages {display:none !important} #toc {max-height:none !important} .offline-notice {display:none} #redirected-from {display:none} #masthead {display:none}
#nav-toolbar {display:none}
#page-buttons{display:none} .contributor-avatars {display:none !important} #sessionMsg.errormsg{display:none}
.page-watch {display:none}
