.selector-options {
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
    list-style: none;
    margin: 0;
    padding: 0;
}
.selector-options a {
    display: block;
    background-color: white;
    color: #000;
    padding: .5rem .6rem .5rem 2rem;
    text-decoration: none;
}
.selector-options a:hover {
    background-color: #e8e8e8;
}
.selector-options li {
    line-height: 1.2;
}
.selector-options li:first-child {
    border-top: none;
}
.selector-options li:last-child a {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.selector-options li:first-child a {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.selector-option-label {
    color: #505050;
    font-weight: bold;
}
.selector-option-description {
    color: #555;
}
.selector-option-description code {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
}
@media only screen and (min-device-width: 320px) {
    .selector-options a {
        white-space: inherit;
    }
}
@media only screen and (min-width: 740px) {
    .selector-options a {
        white-space: nowrap;
    }
}
@media only screen and (min-width: 1224px) {
    .selector-options a {
        white-space: nowrap;
    }
}

footer {display:none !important} #main-header {display:none !important} #toc.fixed { position: static !important; overflow-y: visible !important; } .contributors {display:none !important} .wiki-left-present:not(.wiki-left-closed) #wiki-left {display:none !important} body {background-image:none !important; background-color:transparent !important} .wiki-left-present:not(.wiki-left-closed) #toc.fixed {width: 100% !important; max-height:none !important} #wiki-content {width:100% !important} #wiki-content {float:left !important} .communitybox, #wiki-controls {display:none !important} .syntaxbox-help{display:none !important} .article-meta { display:none !important} #wiki-right {padding-bottom: 25px !important; width:100% !important} .column-strip.quick-links {margin-bottom:0px !important} .redesign-beta-notice {display:none !important} #tabzilla-panel {display:none !important} main>.center {padding-top:10px !important} .breadcrumbs {display:none !important} .global-notice, .page-buttons {display:none !important} .crumbs {display:none !important} .languages {display:none !important} #toc {max-height:none !important} .offline-notice {display:none} #redirected-from {display:none} #masthead {display:none}
#nav-toolbar {display:none}
#page-buttons{display:none} .contributor-avatars {display:none !important} #sessionMsg.errormsg{display:none}
.page-watch {display:none}
