<?xml version="1.0" encoding="UTF-8"?><plist version="1.0"><dict><key>CFBundleIdentifier</key><string>numpy</string><key>CFBundleName</key><string>NumPy</string><key>DocSetPlatformFamily</key><string>numpy</string><key>dashIndexFilePath</key><string>doc/index.html</string><key>isJavaScriptEnabled</key><true/><key>isDashDocset</key><true/></dict></plist>