<?xml version="1.0" encoding="UTF-8"?><plist version="1.0"><dict><key>CFBundleIdentifier</key><string>python</string><key>CFBundleName</key><string>Python 2</string><key>DocSetPlatformFamily</key><string>python</string><key>dashIndexFilePath</key><string>doc/index.html</string><key>isJavaScriptEnabled</key><true/></dict></plist>