
blockquote.quote {
	padding:0pt 0pt 0pt .25em;
	margin:.2em .2em .2em 1em;
	border-left:solid .2em gray;
}
.markdown .comment {
	color:#33aa33;
}
.markdown .keyword {
	font-weight:bold;
	color:navy;
}
.markdown .brace {
	font-weight:bold;
	color:firebrick;
}
.markdown .function {
	font-weight:bold;
	color:purple;
}
.markdown .var {
	font-slant=italic;
	color:#dd6644;
}
.markdown .tex-math {
	color:#dd6644;
}
.markdown .latex-env {
	color:#ee3322;
}
.markdown .sh-cmd {
	color:navy;
}
.markdown .sh-variable {
	font-weight:bold;
	color:#2233ee;
}
.markdown .string {
	color:#999999;
}
