a.l:target {
  background-color: lightpink;
}
/* if you want to center the headings, uncomment this block.
.desc {
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}
*/
.c { /* comment */
 font-style: italic;
 font-weight: bold;
}
.v { /* verb */
 color: darkred;
}
.s { /* string */
 color: purple;
}
.i { /* include */
 color: blue;
}
.m {
 background-color: lightgreen;
}
a.m {
 background-color: lightblue;
}
ul {
 margin: 0px 0px 0px 1em;
}
.l { /* line */
 font-style: normal;
 font-weight: normal;
 text-decoration: none;
 color: gray;
}
img.icon {
 max-width: 128px;
 margin: 2px;
}
img.icon:hover {
 float: right;
 max-width: inherit;
 border: 1px solid black;
 margin: 1px;
}

footer {display:none !important} #main-header {display:none !important} #toc.fixed { position: static !important; overflow-y: visible !important; } .contributors {display:none !important} .wiki-left-present:not(.wiki-left-closed) #wiki-left {display:none !important} body {background-image:none !important; background-color:white !important} .wiki-left-present:not(.wiki-left-closed) #toc.fixed {width: 100% !important; max-height:none !important} #wiki-content {width:100% !important} #wiki-content {float:left !important} .notification-tray, .section-edit {display:none !important} .communitybox, #wiki-controls {display:none !important} .syntaxbox-help{display:none !important} .article-meta { display:none !important} #wiki-right {padding-bottom: 25px !important; width:100% !important} .column-strip.quick-links {margin-bottom:0px !important} .redesign-beta-notice {display:none !important} #tabzilla-panel {display:none !important} main>.center {padding-top:10px !important} .share {display:none !important} .breadcrumbs {display:none !important} .global-notice, .page-buttons {display:none !important} .crumbs {display:none !important} .languages {display:none !important} #toc {max-height:none !important} .offline-notice {display:none} #redirected-from {display:none} #masthead {display:none}
#nav-toolbar {display:none}
#page-buttons{display:none} .contributor-avatars {display:none !important} #sessionMsg.errormsg{display:none}
.page-watch {display:none}
